body { 
    background-color: white;
    color: black
}
a {
  color: black;
}
.naglowek {
    text-align: left;
}
footer {
    text-align: center;
    left: 0%;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
nav {
  position: fixed;
}
#kontent {
  position: absolute;
  left: 14%;
  text-align: center;
}
.info {
  text-align: center;
}
.source {
  text-align: right;
}
p {
  text-align: left;
}
table{
  margin: 0px auto
}
.first_row {
  color: blue;
}
